/* ===== Header ===== */
a{
    text-decoration: none;
    color: var(--black-color);
}

.header{
    width: 100%;
    height: 115px;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    position: fixed; 
    background-color: var(--white-color); 
    z-index: 1000; 
}

.header__title{
    background-color: var(--bg-color);
    padding: 1em;
}

.logo{
    transition: transform 0.3s ease;
    max-width: 100%;
    height: auto;
}

.logo:hover{
    transform: scale(1.2); /* Phóng to hình ảnh lên 1.2 lần */
}

.header__title--container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__title--search {
    display: flex;
    height: 34px;
    width: 345px ;
    position: relative;
}

.header__title--icon {
    position: absolute;
    left: 2%;
    top: 25%;
    font-size: 18px;
    color: var(--black-color);
    cursor: pointer;
}

.header__title--searchtxt {
    width: 100%;
    padding: 10px 10px 10px 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
}


i{
    color: var(--white-color);
    font-size: 16px;
}

.header__title--searchtxt{
    border: 0px;
}

.header__title--phone{
    background-color: rgba(41, 69, 223, 0.477);
    align-content: center;
    border-radius: 5px;
    padding: 10px;
    color: var(--white-color);
    cursor: pointer;
}

.header__title--items{
    align-items: center;
    line-height: 18px;
    align-items: center;
    color: var(--white-color);
}

.header__title--items>i{
    font-size: 25px;
}

.header__title--items:hover i, .header__title--items:hover span{
    color: var(--hover-color) ;
}

.menu__sub--container-hang p, .menu__sub--container-gia p{
    font-weight: bold;
    font-size: 15px;
}
/* <!-- Menu Header --> */

.menu__box{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    position: relative; 
}

.menu__box--item>a, .menu__box-title>i {
    color: var(--black-color);
}

.menu__box-title:hover, .menu__box-title:hover i,
.menu__box--item:hover .menu__box-title, .menu__box--item:hover .menu__box-title i {
    color: var(--hover-color);
    font-weight: bolder;
}

ul{
    list-style: none;
}

.menu__box--sub{
    display: none;
    opacity: 0; 
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease; 
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: var(--white-color); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
}

.menu__sub--container{
    margin-left: 10px;
}


.menu__box--item:hover .menu__box--sub {
    display: block;
    opacity: 1; 
    transform: translateY(0); 
    border-radius: 10px;
}


.menu__hang-list li a:hover, .menu__gia-list li a:hover {
    color: var(--bg-color);
}

.menu__sub--container{
    display: flex;
    padding-bottom: 20px;
}

.menu__sub--container-hang{
    width: 15%;
}


/* ===== Main ===== */

#main-content{
    background-color: #f0f0f0;
    padding-bottom: 10px;
    margin-top: 115px;
}

/* ===== Footer ===== */

footer {
    background-color: var(--bg-color);
    color: var(--white-color);
    text-align: center;
    padding: 1em;
}