.home__top>img{
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}


/* Slideshow container */
.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.mySlides {
    display: none;
    position: absolute;
    width: 100%;
    transition: transform 1s ease-in-out;
}

.show {
    display: block;
    animation: slide-animation 1s ease-in-out forwards;
}

@keyframes slide-animation {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: #717171;
}

/* Hide the buttons initially */
.slideshow-container .prev, .slideshow-container .next {
    display: none;
}

/* Show the buttons on hover */
.slideshow-container:hover .prev,
.slideshow-container:hover .next {
    display: block;
}


/* Ngân */

.container>.row1 img{
    width: 1280px;
    border-radius: 12px;
}

.row1 {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.list-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.list-images img {
    width: 100%;
    flex-shrink: 0;
}


.row, .img-boxcate {
    margin-bottom: 10px;
}

.img-boxcate {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    min-height: 100px;
    overflow: hidden;
}

.img-boxcate a {
    text-decoration: none;
    color: inherit;
}

.img-boxcate article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 170px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    margin: 0 10px;
    /* background-color: #5cc1ed; */
}

.img-boxcate img {
    max-width: 100%;
    height: 141px;
    margin-bottom: 10px;
    margin: auto;
    border-radius: 10px;
    transition: transform 0.3s ease; /* Thời gian và kiểu hiệu ứng chuyển đổi */
}

.img-boxcate img:hover {
    transform: scale(1.2);
}

.img-boxcate h3 {
    font-size: 1.4em;
    color: var(--text-color);
    text-align: center;
    line-height: 40px;
}

.row2 {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: #fff;
}

.row h2 {
    font-size: 2.6rem;
    color: rgb(255, 125, 39);
    padding: 30px 0 20px 30px;
}

.event img {
    border-radius: 10px;
    margin-bottom: 5px;
}

.row3 {
    background-color: var(--row-color);
    border-radius: 10px;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.list-images {
    display: flex;
    transition: transform 0.5s ease;
}

.col3 {
    min-width: calc((100% - 120px) / 6);
    padding: 20px;
    border: 1px solid rgb(200, 199, 199);
    background-color: #fff;
    margin: 10px;
    border-radius: 6px;
    text-align: center;
    overflow: hidden;
}

.col3:hover {
    box-shadow: 0 0 8px gray;
}

.col3 img:hover {
    transform: scale(1.2);
}


.btn-right {
    right: 0px;
}

/* .btn-left:hover, .btn-right:hover {
    background-color: rgba(26, 30, 97, 0.6);

} */

.col3 img, .col5 img, .col img {
    margin-bottom: 20px;
}

.col3 a, .col5 a, .col a {
    color: #333;
    font-size: 1.1rem;
    line-height: 23px;
    font-weight: 400;
}


.col3 h3, .col5 h3, .col h3 {
    height: 80px;
}

.col3 h2, .col5 h2, .col h2 {
    color: red;
    font-size: 1.8rem;
    padding: 0;
}

.row4 img {
    border-radius: 10px;    
    margin-right: 20px;
}
.row4 {
    display: grid;
    height: fit-content;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    min-width: calc((100% - 40px) / 2);
    border-radius: 6px;
    overflow: hidden;
    margin: 0 10px;
}

/* .list-product {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
} */

.row5 {
    background-color: var(--row-color);
}

.row5 article {
    align-items: center;
    text-align: center;
    overflow: hidden;

}

.col5 {
    float: left;
    margin: 5px;
    width: calc(100%/6 - 10px);
    border: 1px solid silver;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
}

.col5:hover {
    box-shadow: 0 0 8px gray;
    border-radius: 10px;
}

.col5 img {
    width: 160px;
    height: 160px;
}

.col5 img:hover {
    transform: scale(1.1);
}

.list-product {
    display: flex;
    flex-wrap: wrap;
 /* Khoảng cách giữa các sản phẩm */
}

.fa-bolt{
    font-size: 45px;
    color: var(--bg-color__sale);
    animation: blink 0.8s infinite;
    margin-right: 10px;
}

/* Keyframes để tạo hiệu ứng nhấp nháy */
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}