.home__top>img{
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    width: 100%;
}


/* Slideshow container */
.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.mySlides {
    display: none;
    position: absolute;
    width: 100%;
    transition: transform 1s ease-in-out;
}

.show {
    display: block;
    animation: slide-animation 1s ease-in-out forwards;
}

@keyframes slide-animation {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.dot:hover {
    background-color: #717171;
}

/* Hide the buttons initially */
.slideshow-container .prev, .slideshow-container .next {
    display: none;
}

/* Show the buttons on hover */
.slideshow-container:hover .prev,
.slideshow-container:hover .next {
    display: block;
}